.colleges{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .colleges > *{
    width: 40%;
    margin-top: 3%;
    margin-right: 1%;
    margin-bottom: 3%;
    min-height: 100%;
    
  
  
    
  }
  .Card2:hover{
    transform: scale(1.03);
    transition: all .3s ease-in-out;
  }
  .cc{
  
    position: relative!important;
    height: 30vh;
    background-size:auto 100%!important;
    
  }
  .btn{
    color: black!important;
    position: absolute!important;
    left: 0!important;
    top: 0 !important;
    right: 0!important;
    bottom: 0!important;
    font-size: 3vw!important;
    width: 100%!important;

  }
  
  @media all and (max-width: 500px){
  .Card2{
    width: 100%!important;
  }
  .colleges{
    justify-content: space-around;
  }
  .All{
   
    padding-bottom: 3%;
    border-radius: 0px;
    margin-bottom: 0vh;
  }
  .btn{
    color: black!important;
    position: absolute!important;
    left: 0!important;
    top: 0 !important;
    right: 0!important;
    bottom: 0!important;
    font-size: 20vw!important;


  }


 
  }
  